<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br>
  
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;How do you do?  Here is the contact page and we allow for contact to be made for different
   reasons.  We have provided explanations for the help you may need.  Each email contact is similar though we have made 
  the subject for each email different.  Look below to see if any of these contact subjects meets what you are looking for
</p>  
    
<h2><a href="mailto:training@techbyjr.com?Subject=General%20Inquiry" target="_top"><u>General Inquiry</u></a></h2>
      
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click the link above to open an email application with the subject line of general inquiry.
    This should be used if none of the links below fit your request.  We request that you give us 1 business day period for
   us to respond to your general inquiry.
</p>

<h2><a href="mailto:training@techbyjr.com?Subject=Training%20Support" target="_top"><u>Training Support</u></a></h2>
      
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click the link above to open an email application with the subject line of Training support.
    This should be used if you are having issues with understanding the content as designed.  We are happy to provide 
  additional support when you are attempting to grow your personal knowledge.  We request that you give a 1 business day
   period for us to respond to your training support request.
</p>

<h2><a href="mailto:training@techbyjr.com?Subject=Training%20Design" target="_top"><u>Training Design</u></a></h2>
      
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click the link above to open an email application with the subject line of Training design.
    This should be used if you have looked through all subjects and categories yet still are unable to find something that
  fits what you are trying to accomplish. We request that you give us 1 business day period for us to respond to your 
  Training design request.  There will be an initial email acknowledging your request and a meeting will be setup for initial
   discovery.  All other information will be managed and designed for workflow and usability.
</p>
  </body>
</html>
