<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<p id="Top_of_page">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to the What's a computer subject.  Here you will learn the
   different components of a computer.  The technologies associated with a computer and the different
   things you can do with a computer depending on the design and capabilities of your computer.  I know
   you're asking "Where's the best place to start?".  The best place to start is by explaining the different
   components of a computer.  We will be covering the major components of a computer which are as follows:
   <ul>
     <a href="#Motherboard"><li>Motherboard</li></a>
     <a href="#CPU"><li>Central Processing Unit(CPU)</li></a>
     <a href="#RAM"><li>Random Access Memory(RAM)</li></a>
     <li>Hard Disk Drive(HDD)</li>
     <li>Solid State Drive(SSD)</li>
     <li>Interface Cards(WiFi, Sound, Video)</li>
   </ul>
</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;These components are only a few of the devices you may or may not come into
   contact with when working.  It will be our goal to provide you with as much exposure to different devices
   to provide you the ability to take on more work with a very capable proficiency.  Now let's begin!
</p>

<p id="Motherboard">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our first component to review is a Motherboard.  What is a Motherboard?  
  A motherboard is a device that ties together all of the parts that allow your device to work as expected.  
  A simple way to imagine this as something a bit more relatable is relating a computer to our body.  
  The motherboard would be like our central nervous system being the device that is used for a traffic system 
  where commands come from one location and go to another.  Certain parts are like highways while others are
  like one way streets.  A motherboard starts out as what is called a Printed Circuit Board (PCB).  Now I know 
  you are wondering what a PCB is and whether we will be covering that.  We currently only need to know what a PCB 
  is at this time as the PCB subject has a capability to become much greater than familiarizing you with what’s 
  a computer.  If you would like to read more briefly on the PCB subject visit this wikipedia site at 
  <a href="https://en.wikipedia.org/wiki/Printed_circuit_board" target="_blank"><u>PCB’s</u></a>.  At any time you
  can return to the top of the page by clicking <a href="#Top_of_page"><u>Return to introduction</u></a>.
</p>
  
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On the motherboard 
  you have slots and cabling to allow for upgrades of certain devices.  We will be reviewing a desktop 
  Personal Computer (PC) motherboard and a laptop PC motherboard only.  Let's start with a desktop PC 
  motherboard.  You have either seen these and have used them or believe only gamers and techy people 
  use these devices to enhance their experience.  This is both true and false.  This statement is true 
  as in the desktop PC allows more versatility, upgradable features, and modifications that are not 
  possible on a basic laptop, however, this is false as there are many other people and professions that use 
  these desktop PC’s to allow for better capabilities to perform their jobs such as home designers and graphic
   designers.  <a href="#Top_of_page"><u>Return to introduction</u></a>.
</p>
  
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please click each link in the following passages as they will help with your
   learning.  <a href="https://www.flickr.com/photos/168920045@N05/45656612525/in/album-72157675608289767/" target="_blank"><u>Here</u></a>
   you can see a picture of a desktop motherboard that has been provided for reference.Next we will be talking about the components 
   that are needed on your motherboard to allow for proper operation. As you have seen there are many components located on the 
  motherboard and wires coming from the motherboard.  We will be covering many of these in detail in order of importance.  Since we
  have covered the motherboard which is essentially similar to a car body we will now discuss the next component of worth to note 
  and review which is the Central Processing Unit or more commonly known as the CPU.  <a href="#Top_of_page"><u>Return to introduction</u></a>.
</p>
  
<p id="CPU">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To continue the body theme for correlation the CPU would be considered the brain of the computer.
   The same way our brains send and receive different information from the many different parts of our body is the same way a CPU
   receives and sends information.  <a href="https://www.flickr.com/photos/168920045@N05/46029876474/in/album-72157702463684872/" target="_blank"><u>Here</u></a>
   you can see a picture of a CPU front and back.  Normally you would see a CPU in a motherboard like 
  <a href="https://www.flickr.com/photos/168920045@N05/32905857028/in/album-72157702534167472/" target="_blank"><u>this</u></a>.
    With the second picture you can see that your CPU is normally covered by some type of device that would dissipate heat away
   from the CPU.  This device that dissipates heat away from the CPU is called a heat sink.  
  <a href="https://www.flickr.com/photos/168920045@N05/32905856908/in/album-72157705818969365/" target="_blank"><u>Here</u></a>
   you can see what a heat sink looks like when not installed on a motherboard.  We have covered the most important parts in
   regards to the CPU and we will now move on to the next valuable component in a computer which is Random Access Memory (RAM).
    <a href="#Top_of_page"><u>Return to introduction</u></a>.
</p>
  
  <p id="RAM">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Now that we have covered CPU's and motherboards we will be reviewing RAM next.  In
     keeping with our body relation theme you can think of RAM as your short term memory.  You can view RAM installed
     <a href="https://www.flickr.com/photos/168920045@N05/46795204221/in/album-72157704429321551/" target="_blank"><u>Here</u></a>.  
      Notice how the RAM lives in one of the slots that are available on the motherboard.  You can view RAM prior to being installed
     <a href="https://www.flickr.com/photos/168920045@N05/46795220421/in/album-72157705858520905/" target="_blank"><u>Here</u></a>.
      When we fall asleep for the evening we no longer remember the things we did which required little effort to remember.  
    This could be said to be the same for RAM.  RAM processes requests like keyboard clicks, mouse movements, and webpage 
     recovery in today's advanced web browsers.  RAM is simply used for tasks that require little effort.  Now I know you're 
    wondering what is the difference between 4 Gigabytes (GB) of RAM and 8GB of RAM.  The difference is having the ability to run 
    multiple programs at the same time and have your computer respond appropriately without windows and other computer functions 
    freezing.  While explaining RAM I will take this opportunity to explain virtual RAM.  Virtual RAM is RAM that is build on your
    Hard Drive to compensate for the overusage of the RAM you do have in your system.  Having virtual RAM could help when loading 
    up webpages that are regularly visited, however, virtual RAM also hurts your system as system performance is degraded when using
    virtual RAM.  How system performance is degraded will be explained in the next paragraph which will cover Hard Disk Drives.
      <a href="#Top_of_page"><u>Return to introduction</u></a>.
</p>

<p id="HDD">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Now that we have covered CPU's and motherboards we will be reviewing RAM next.  In
     keeping with our body relation theme you can think of RAM as your short term memory.  You can view RAM installed
     <a href="https://www.flickr.com/photos/168920045@N05/46795204221/in/album-72157704429321551/" target="_blank"><u>Here</u></a>.  
      Notice how the RAM lives in one of the slots that are available on the motherboard.  You can view RAM prior to being installed
     <a href="https://www.flickr.com/photos/168920045@N05/46795220421/in/album-72157705858520905/" target="_blank"><u>Here</u></a>.
      When we fall asleep for the evening we no longer remember the things we did which required little effort to remember.  
    This could be said to be the same for RAM.  RAM processes requests like keyboard clicks, mouse movements, and webpage 
     recovery in today's advanced web browsers.  RAM is simply used for tasks that require little effort.  Now I know you're 
    wondering what is the difference between 4 Gigabytes (GB) of RAM and 8GB of RAM.  The difference is having the ability to run 
    multiple programs at the same time and have your computer respond appropriately without windows and other computer functions 
    freezing.  While explaining RAM I will take this opportunity to explain virtual RAM.  Virtual RAM is RAM that is build on your
    Hard Drive to compensate for the overusage of the RAM you do have in your system.  Having virtual RAM could help when loading 
    up webpages that are regularly visited, however, virtual RAM also hurts your system as system performance is degraded when using
    virtual RAM.  How system performance is degraded will be explained in the next paragraph which will cover Hard Disk Drives.
    <a href="#Top_of_page"><u>Return to introduction</u></a>.
</p>

  </body>
</html>
