<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to the What's a computer subject.  Here you will learn the
   different components of a computer.  The technologies associated with a computer and the different
   things you can do with a computer depending on the design and capabilities of your computer.  I know
   you're asking "Where's the best place to start?".  The best place to start is by explaining the different
   components of a computer.  We will be covering the major components that are in a computer are:
   <ul>
     <li>Motherboard</li>
     <li>Central Processing Unit(CPU)</li>
     <li>Random Access Memory(RAM)</li>
     <li>Hard Disk Drive(HDD)</li>
     <li>Solid State Drive(SSD)</li>
     <li>Interface Cards(WiFi, Sound, Video)</li>
   </ul>
</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;These components are only a few of the devices you may or may not come into
   contact with when working.  It will be our goal to provide you with as much exposure to different devices
   to provide you the ability to take on more work with a very capable proficiency.  Now let's begin!
</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our first component to review is a Motherboard.  What is a Motherboard.  
  A motherboard is a device that ties together all of the parts that allow your device to work as expected.  
  A simple way to imagine this as something a bit more relatable is our car.  The motherboard is like the 
  frame of the car.  A motherboard starts out as what is called a Printed Circuit Board (PCB).  Now I know 
  you are wondering what a PCB is and whether we will be covering that.  We will be covering PCB’s very 
  generally as this subject has a capability to become much greater than familiarizing you with what’s 
  a computer.  If you would like to read more briefly on this subject visit this wikipedia site at 
  <a href="https://en.wikipedia.org/wiki/Printed_circuit_board"><u>PCB’s</u></a>.
</p>
  
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On the motherboard 
  you have slots and cabling to allow for upgrades of certain devices.  We will be reviewing a desktop 
  Personal Computer (PC) motherboard and a laptop PC motherboard only.  Let's start with a desktop PC 
  motherboard.  You have either seen these and have used them or believe only gamers and techy people 
  use these devices to enhance their experience.  This is both true and false.  This statement is true 
  as in the desktop PC allows more versatility, upgradable features, and modifications that are not 
  possible on a basic laptop, however, this is false as there are many other people and professions that use 
  these desktop PC’s to allow for better capabilities to perform their jobs such as home designers and graphic
   designers.
</p>
  
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Here is a picture of a 
  </body>
</html>
