<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to the What's a computer subject.  Here you will learn the
   different components of a computer.  The technologies associated with a computer and the different
   things you can do with a computer depending on the design and capabilities of your computer.  I know
   you're asking "Where's the best place to start?".  The best place to start is by explaining the different
   components of a computer.  We will be covering the major components that are in a computer are:
   <ul>
     <li>Motherboard</li>
     <li>Central Processing Unit(CPU)</li>
     <li>Random Access Memory(RAM)</li>
     <li>Hard Disk Drive(HDD)</li>
     <li>Solid State Drive(SSD)</li>
     <li>Interface Cards(WiFi, Sound, Video)</li>
   </ul>
</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;These components are only a few of the devices you may or may not come into
   contact with when working.  It will be our goal to provide you with as much exposure to different devices
   to provide you the ability to take on more work with a very capable proficiency.  Now let's begin!
</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our first component to review is a Motherboard.
</p>
  </body>
</html>
